/* Estilos del Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    margin: 10% auto;
    width: 50%;
    border-radius: 5px;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}

input {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.cancel, .save {
    padding: 10px 15px;
    margin-left: 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.cancel {
    background-color: #ccc;
}

.save {
    background-color: #2271b1;
    color: #fff;
}


